<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedystar.springbootdemo.modules.user.dao.UserDao">

    <resultMap id="userResultMap" type="com.greedystar.springbootdemo.modules.user.entity.User">
        <id column="id" property="id"/> 
        <result column="username" property="username"/> 
        <result column="password" property="password"/> 
        <result column="createTime" property="createTime"/> 

        
        
    </resultMap>

    <sql id="userColumns">
        user.id AS "id",
        user.username AS "username",
        user.password AS "password",
        user.create_time AS "createTime"
    </sql>

    <sql id="userJoins">
        
    </sql>

    <select id="get" resultMap="userResultMap">
        SELECT
        <include refid="userColumns" />
        FROM user <include refid="userJoins" />
        <where>
        user.id = #{id}
        </where>
    </select>

    <select id="findList" resultMap="userResultMap">
        SELECT
        <include refid="userColumns" />
        FROM user <include refid="userJoins" />
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="userResultMap">
        SELECT
        <include refid="userColumns" />
        FROM user <include refid="userJoins" />
        <where>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO user(
            id,
            username,
            password,
            create_time
        )
        VALUES (
            #{id},
            #{username},
            #{password},
            #{createTime}
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO user(
            id,
            username,
            password,
            create_time
        )
        VALUES
        <foreach collection ="list" item="user" separator =",">
        (
            #{user.id},
            #{user.username},
            #{user.password},
            #{user.createTime}
        )
        </foreach>
    </insert>

    <update id="update">
        UPDATE user SET
        id = #{id},
        username = #{username},
        password = #{password},
        create_time = #{createTime}
        WHERE id = #{id}
    </update>

    <update id="delete">
        DELETE FROM user
        WHERE id = #{id}
    </update>

</mapper>